* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}


.header{
    background-image: url(./63d66eaab2574c8340e3a155bcee6a2af042b979.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
   filter: brightness(80%); 

}
.header-logo{
    width: 307px;
    height: 54px;
    
}
.header-num{
    width: 230px;
font-family: Inter;
font-weight: 400;
font-size: 26px;
color: white;
font-family: Inter;
font-weight: 400;
font-size: 26px;

}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    gap: 30px;
    align-items: center;
}
.header-btn{
    width: 285px;
height: 88px;
border-width: 2px;
gap: 10px;
border: 2px solid #FFFFFF;
background-color: #ffffff00;
color: #FFFFFF;
font-size: 32px;
}
.header-text{
    width: 779px;
height: 48px;
font-family: Rufina;
font-weight: 700;
font-size: 32px;
color: #FFFFFF;
}
.header-bigtext{

    font-family: Rufina;
font-weight: 700;
font-size: 128px;
width: 779px;
height: 304px;
color: #FFFFFF;
}
.text-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 145px;
margin-bottom: 340px;
}
.main-wrapper{
    display: flex;
    justify-content: space-between;

}
.text-mainwrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main-img{
    width: 792px;
height: 989px;
}
.main-header{
    margin-top: 120px;
    margin-bottom: 20px;
    margin-left: 420px;
    width: 748px;
height: 120px;
font-family: Rufina;
font-weight: 700;
font-size: 108px;

}
.main-minitext{
    margin-left: 300px;
    margin-bottom: 95px;
    width: 748px;
height: 34px;
font-family: Lato;
font-weight: 400;
font-size: 24px;
color: #4D4D4D;

}
.main-money{
    width: 710px;
height: 64px;
font-family: Rufina;
font-weight: 700;
font-size: 48px;

}
.mainmenu-line{
    border: 4px solid #000000;
    border-width: 4px;
    border-style: dashed;
    dashes: 4, 4;
    margin: 12 0 24 0;
    
}
.mainmenu-bigtext{
    width: 710px;
height: 168px;
font-family: Rufina;
font-weight: 700;
font-size: 68px;

}
.mainmenu-minitext{
    width: 710px;
height: 34px;
font-family: Lato;
font-weight: 400;
font-size: 24px;
line-height: 140%;
letter-spacing: 2%;
color: #4D4D4D;
margin: 24 0 58 0;
}

.main-menu{
   margin-bottom: 60px; 
}